<br>
<div class="container">

    <mat-card>

<mat-card-content>
    <div *ngFor="let stream of subjects;let i=index;" class="sanbox_stream">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Favorite food" value="Sushi">
          </mat-form-field>
      <button [disabled]="!isConnected || !stream.isActive" mat-mini-fab color="primary" title="Next" (click)="onNext(i,1)"> <mat-icon>play_circle_filled</mat-icon></button>
      <button [disabled]="!isConnected || !stream.isActive" mat-mini-fab color="accent" title="Complete"(click)="onComplete(i)" ><mat-icon>check_circle</mat-icon></button>
      <button [disabled]="!isConnected || !stream.isActive" mat-mini-fab color="warn" title="Error" (click)="onError(i)"><mat-icon>error</mat-icon></button>
      
      <button mat-icon-button *ngFor="let event of stream.history; let j = index" [title]="j">
        <ng-container [ngSwitch]="event.type">
            <mat-icon *ngSwitchCase="'NEXT'" color="primary">play_circle_filled</mat-icon>
            <mat-icon *ngSwitchCase="'COMPLETE'" color="accent">check_circle</mat-icon>
            <mat-icon *ngSwitchCase="'ERROR'" color="warn" >error</mat-icon>
        </ng-container>
     
      </button>
    </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-icon-button *ngFor="let event of subscription.history; let j = index" [title]="j">
                <ng-container [ngSwitch]="event.type">
                        <mat-icon *ngSwitchCase="'NEXT'" color="primary">play_circle_filled</mat-icon>
                        <mat-icon *ngSwitchCase="'COMPLETE'" color="accent">check_circle</mat-icon>
                        <mat-icon *ngSwitchCase="'ERROR'" color="warn" >error</mat-icon>
                </ng-container>
             
              </button>
        </mat-card-actions>
      </mat-card>



<br>
<br>
<mat-progress-bar [mode]="isConnected? 'determined' : 'indeterminate'" value="100"></mat-progress-bar>
<iframe  
[src]="safeURL" 
style="width:100%;height:600px" 

id='shit'
#iframe>

</iframe> 
</div>