<br />
<div class="container-fluid">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Map</mat-card-title>
      <code lang="typescript"
        >map &lt;T, R &gt;(<var>project</var>: (<var>value</var>: T,
        <var>index</var>: number) => R, thisArg?: any): OperatorFunction&lt;T,
        R&gt;</code
      >
    </mat-card-header>
    <mat-card-content>
      <code lang="typescript"
        >map &lt;T, R &gt;(<var>project</var>: (<var>value</var>: T,
        <var>index</var>: number) => R, thisArg?: any): OperatorFunction&lt;T,
        R&gt;</code
      >
      <p>
        Applies a given project function to each value emitted by the source
        Observable, and emits the resulting values as an Observable
      </p>
      <i
        >Like
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map"
          >Array.prototype.map</a
        >

        * it passes each source value through a transformation function to get *
        corresponding output values.</i
      >
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button> <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-divider></mat-divider>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
<app-sandbox [project]="project"></app-sandbox>
