<div class="container-fluid">
  <mat-card>
    <mat-card-header>
      <mat-card-title>combineLatest</mat-card-title>
      <mat-card-subtitle>
        <code lang="typescript">
          concat&lt;O extends ObservableInput&lt;any&gt;, R&gt;(...observables:
          (SchedulerLike | O)[]): Observable&lt;ObservedValueOf&lt;O&gt; | R&gt;
        </code>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Creates an output Observable which sequentially emits all values from
        given Observable and then moves on to the next.
      </p>
    </mat-card-content>
    <mat-card-actions> </mat-card-actions>
    <mat-divider></mat-divider>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>
<app-sandbox [project]="project"></app-sandbox>
