<mat-sidenav-container>
  <mat-sidenav
    #drawer
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <!-- <mat-toolbar><mat-icon>menu</mat-icon></mat-toolbar> -->
    <mat-nav-list>
      <a mat-list-item routerLink="/operators" routerLinkActive="active"
        >Operators</a
      >
      <mat-nav-list dense>
        <a mat-list-item routerLink="/operators/map" routerLinkActive="active"
          >Map</a
        >
      </mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main><router-outlet></router-outlet></main>
  </mat-sidenav-content>
</mat-sidenav-container>
